body{
    margin: 0;
    background-color: #cccccc;
    font-family: 'Poppins', sans-serif;;
}

nav{
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    padding-right: 20px;
    padding-bottom: 10px;
}

nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}

nav ul li{
    margin-right: 30px;
    
}

.container h1{
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
}

form{
    width: 400px;
    margin: 10px auto;
    padding: 15px;
    align-items: center;
}

div{
    margin-top: 20px;

}

form div  {
    font-weight: 500;
}

textarea{
    resize: none;
}

input, select, textarea {
    width: 100%;
    background-color: #ffffff;
    border: none;
    padding: 13px;
    margin-top: 5px ;
    border-radius: 5px;
    box-shadow: 5px 5px 10px grey;
    box-sizing: border-box;
}

input, select, textarea:focus {
    outline: none;
}

button{
    background-color: #161b20;
    color: white;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    width: 100px;
}

.butonPosition{
    text-align: end;
}
